{{ $reverse := true}}
{{ range  .Pages }}

<div class="max-w-full prose dark:prose-invert">
    {{if isset .Params "featured_image" }}
        {{ $reverse = not $reverse}}
        <div class="flex flex-col {{ cond $reverse "md:flex-row-reverse" "md:flex-row"}}">
            <div class="basis-[60.0%] grid py-16 md:px-8">
                <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">
                    {{ .Title | emojify }}
                </h1>
            <div id="{{.Title}}" class="anchor"></div>
            <section class="text-justify">{{ .Content | emojify }}</section>
        </div>
        {{ $featured_img := index .Params "featured_image"}}
        {{ with .Parent.Resources.GetMatch $featured_img }}
            {{ $image := .Fill "600x1000"}}
            <div class="basis-[40.0%] grid">
                <img class="rounded-lg self-auto place-self-center {{ cond $reverse "md:place-self-start" "md:place-self-end"}}" src="{{ $image.RelPermalink }}" width="300">
            </div>
        {{ end }}
    </div>
    {{ else }}
    <div class="flex justify-center">
        <h1 class="relative group mt-0 text-2xl font-extrabold text-neutral-900 dark:text-neutral py-16">
            {{ .Title | emojify }}
        </h1>
        <div id="{{.Title}}" class="anchor"></div>
        <section class="text-justify">
            {{ .Content | emojify }}
        </section>
    </div>                
    {{ end }}
</div>
{{ end }}