
{{ $images := .Page.Resources.Match (.Get "images") }}


<div class="columns-2 md:columns-3 lg:columns-4">
    {{ range $images }}
    <div class="py-2">
    <div class="relative">
        {{ $scaled := .Resize "600x" }}
        <img class="rounded-md" src="{{ $scaled.RelPermalink }}">
        <div class="absolute bottom-0 left-0 ">
            <a
                class="text-xs !rounded-md bg-primary-600 px-2 py-1 opacity-80 !text-neutral !no-underline hover:!bg-primary-500 hover:opacity-100 dark:bg-primary-800 dark:hover:!bg-primary-700 dark:hover:opacity-100"
                href="{{ . }}"
                role="button"
                download
            >
            download
        </a>
        </div>
    </div>
    </div>
    {{ end }}
</div>